<div class="modal i is-radiusless" [class.is-active]="modalService.gameRecord">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Dodaj zapis</p>
      <button class="delete" aria-label="close" (click)="modalService.close('gameRecord')"></button>
    </header>
    <section class="modal-card-body">
      <div class="box">
        <!-- RESULT -->
        <div class="field">
          <label class="label">Klop</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="newRound.isKlop">
                <option [selected]="klop.value" [value]="klop.value" *ngFor="let klop of result.isKlop">{{klop.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- RESULT -->
        <div class="field">
          <label class="label">Izid</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="newRound.won">
                <option [selected]="outcome.value" [value]="outcome.value" *ngFor="let outcome of result.outcome">{{outcome.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- PLAYER -->
        <div class="field">
          <label class="label">Igralec</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="newRound.leadPlayerId">
                <option [value]="null">---</option>
                <option [value]="player.playerId" *ngFor="let player of gameService.currentGame.players">
                  {{player.name}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!-- PLAYER -->
        <div class="field">
          <label class="label">Partner</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="newRound.supportingPlayerId">
                <option [value]="null">---</option>
                <option [value]="player.playerId" *ngFor="let player of gameService.currentGame.players">
                  {{player.name}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!-- GAME -->
        <div class="field">
          <label class="label">Igra</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="newRound.gameType">
                <option [value]="type.value" *ngFor="let type of result.gameType">{{type.name}}</option>
              </select>
            </div>
          </div>
        </div>

        <!-- POINT DIFFERENCE -->
        <div class="field">
          <label class="label">Razlika v točkah</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="newRound.scoreDifference">
                <option [value]="score.value" *ngFor="let score of result.difference">{{score.value}}</option>
              </select>
            </div>
          </div>
        </div>

        <!-- POINT DIFFERENCE -->
        <div class="field">
          <label class="label">Kontra</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="newRound.contraFactor">
                <option [selected]="contra.value === 1" [value]="contra.value" *ngFor="let contra of result.contraFactor">{{contra.name}}</option>
              </select>
            </div>
          </div>
        </div>

        <!-- MONDFANG -->
        <div class="field">
          <label class="label">MondFang igralec</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="newRound.mondFangPlayerId">
                <option [value]="null">---</option>
                <option [value]="player.playerId" *ngFor="let player of gameService.currentGame.players">
                  {{player.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="field is-grouped is-grouped-multiline" *ngFor="let modifier of modifiers">
            <div class="control">
              <div class="tags has-addons">
                <span class="tag" (click)="incrementAnnounced(modifier)" [class.is-success]="modifier.announced === 1">
                  <i class="fa fa-check" aria-hidden="true" *ngIf="modifier.announced === 1"></i>
                  <i class="fa fa-remove" aria-hidden="true" *ngIf="modifier.announced === 0"></i>
                </span>
                <span class="tag" (click)="incrementContraFactor(modifier)">{{getFactorMessage(modifier)}}</span>
                <span class="tag" [class.is-info]="modifier.isActive" (click)="toggleModifier(modifier)">{{modifier.modifierType}}</span>
              </div>
            </div>
        </div>
      </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-info is-radiusless" (click)="addNewRound()"><i class="fa fa-check"
                                                                              aria-hidden="true"></i></button>
      <button class="button is-radiusless" (click)="modalService.close('gameRecord')"><i class="fa fa-remove"
                                                                                         aria-hidden="true"></i>
      </button>
    </footer>
  </div>
</div>
