nav.navbar {
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.navbar {
    box-shadow: 0px 10px 10px grey;
}

.tarocco-title {
    font-size: 36px;
    font-family: 'Spirax', cursive;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar .navbar-item {
    font-size: 12px;
    background-color: white;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}

.navbar .navbar-item:hover { 
    background-color: grey;
    color: white;
}

.navbar-item-title {
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
}


@media all and (max-width: 750px) {

    .navbar-item-title {
        display: none;
    }

}

.dropdown {
    position: relative;
}

.dropdown-content {
    background-color: white;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    display:block;
    position: relative;
    
    
}

.dropdown-content a {
    padding: 5px;  
}


