.tarocco-game-title {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.tarocco-table-playername {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

thead {
    border: 1px solid black;
}

.tarocco-radelci {
    display: inline-block;
}
