.tarocco-game-title {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.tarocco-table-playername {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

nav.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}