<div class="container-fluid" *ngIf="roundList">
  <div class="box">
    <app-game-menu></app-game-menu>
    <app-game-record></app-game-record>
    <button class="button" aria-haspopup="true" (click)="modalService.open('gameRecord')">
      <span><i class="fa fa-lg fa-plus" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="box">
<table class="table is-hoverable is-fullwidth">
  <thead>
  <tr>
    <th><abbr title="Position">#</abbr></th>
    <th>Tip igre</th>
    <th><abbr title="Erik">Erik</abbr></th>
    <th><abbr title="Nejc">Nejc</abbr></th>
    <th><abbr title="Luka">Luka</abbr></th>
    <th><abbr title="Jan">Jan</abbr></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let round of roundList">
    <th>{{round.roundNumber}}</th>
    <td><strong>{{round.getGameType()}}</strong></td>
    <td *ngFor="let result of round.roundResults">{{result.playerScore}}</td>
  </tr>
  </tbody>
</table>
</div>
</div>
