.table {
  table-layout:fixed;
  width: 100%;
}
.section--disabled {
  opacity: .2;
  pointer-events: none;
}

.hide {
  display: none;
}

.is-lead{
  font-weight: bold;
}

.went-up{
  color: green;
}

.went-down{
  color: red;
}