<div class="container-fluid" style="height: 100%;"  *ngIf="scoreBoardService.roundList" [class.section--disabled]="loading">
  <div class="box" style="margin: 5px 5px; height: 95%; padding: 10px;">

    <h2 class="is-5 has-text-info has-text-centered is-uppercase">{{gameService.currentGame.name}}</h2>
    <div class="column">
      <button class="button" aria-haspopup="true">
        <app-search (gameChanged)="getScoreBoard()"></app-search>
      </button>
      <!-- Following content is only available for authenticated users -->
      <ng-container *ngIf="authenticationService.isAuthenticated()">
        <app-add-record (refreshScoreBoard)="getScoreBoard()"></app-add-record>
        <button class="button" aria-haspopup="true" (click)="modalService.open('gameRecord')">
          <span><i class="fa fa-lg fa-pencil" aria-hidden="true"></i></span>
        </button>
        <app-add-game (mask)="mask()" (unmask)="unmask() "[team]="team" (gameChanged)="getScoreBoard()"></app-add-game>
        <button class="button" aria-haspopup="true" (click)="newGame()">
          <span><i class="fa fa-lg fa-plus" aria-hidden="true"></i></span>
        </button>
        <app-remove-round (gameChanged)="getScoreBoard()"></app-remove-round>
        <button class="button" aria-haspopup="true" (click)="modalService.open('removeRound')">
          <span><i class="fa fa-lg fa-remove" aria-hidden="true"></i></span>
        </button>
        <app-end-game (mask)="mask()" (unmask)="unmask()" (gameChanged)="getScoreBoard()"></app-end-game>
        <button class="button" aria-haspopup="true" (click)="modalService.open('endGame')">
          <span><i class="fa fa-lg fa-share-square-o" aria-hidden="true"></i></span>
        </button>
      </ng-container>
    </div>
      <article class="message is-info" *ngIf="!scoreBoardService.lastRound">
        <div class="message-header">
          <p>Info</p>
        </div>
        <div class="message-body">
          Trenutna igra še nima nobenega zapisa.
        </div>
      </article>
      <table class="table is-hoverable is-fullwidth fixed_header" *ngIf="scoreBoardService.lastRound">
        <thead>
        <tr>
          <th [style.width.vw]="100 / getNumberOfPlayers()" >#</th>
          <th [style.width.vw]="100 / getNumberOfPlayers()" >Tip</th>
          <th [style.width.vw]="100 / getNumberOfPlayers()" *ngFor="let player of gameService.getOrderedPlayers()">{{player.name}}</th>
        </tr>
        <tr>
          <th [style.width.vw]="100 / getNumberOfPlayers()" >R</th> <!-- TODO padding not ok. figure it out-->
          <th [style.width.vw]="100 / getNumberOfPlayers()" ></th>
          <th [style.width.vw]="100 / getNumberOfPlayers()" *ngFor="let lastRoundResult of scoreBoardService.lastRound.roundResults" class="has-text-info">
          <span  *ngFor="let radelc of lastRoundResult.radelci">
            <i class="fa fa-xs fa-circle-thin" aria-hidden="true" *ngIf="!radelc"></i>
          </span>
          </th>
        </tr>
        </thead>
        <tbody  id="scoreBoard" >
        <tr *ngFor="let round of scoreBoardService.roundList" [class.has-text-info]="round.isLast"
            [class.has-text-weight-bold]="round.isLast">
          <td [style.width.vw]="100 / getNumberOfPlayers()" >{{round.roundNumber}}</td>
          <td [style.width.vw]="100 / getNumberOfPlayers()" >{{round.getGameType()}}</td>
          <td [style.width.vw]="100 / getNumberOfPlayers()" *ngFor="let result of round.roundResults" [class.is-lead]="round.leadPlayerId == result.playerId" 
          [class.went-down]="result.roundScoreChange<0" [class.went-up]="result.roundScoreChange>0" >{{result.playerScore}}</td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
<div class="loader-container--full" [class.hide]="!loading">
  <div class="loader"></div>
</div>

<ng2-toasty></ng2-toasty>

<script>
  // Change the selector if needed
var $table = $('table'),
    $bodyCells = $table.find('tbody tr:first').children(),
    colWidth;

// Get the tbody columns width array
colWidth = $bodyCells.map(function() {
    return $(this).width();
}).get();

// Set the width of thead columns
$table.find('thead tr').children().each(function(i, v) {
    $(v).width(colWidth[i]);
});    
</script>
