<div class="container-fluid" *ngIf="scoreBoardService.roundList" [class.section--disabled]="loading">
  <div class="box">

    <h2 class="subtitle is-5 has-text-info has-text-centered is-uppercase">{{gameService.currentGame.name}}</h2>
    <div class="column">
      <button class="button" aria-haspopup="true">
        <app-search (gameChanged)="getScoreBoard()"></app-search>
      </button>
      <app-add-record (refreshScoreBoard)="getScoreBoard()"></app-add-record>
      <button class="button" aria-haspopup="true" (click)="modalService.open('gameRecord')">
        <span><i class="fa fa-lg fa-pencil" aria-hidden="true"></i></span>
      </button>
      <app-add-game (gameChanged)="getScoreBoard()"></app-add-game>
      <button class="button" aria-haspopup="true" (click)="modalService.open('newGame')">
        <span><i class="fa fa-lg fa-plus" aria-hidden="true"></i></span>
      </button>
      <app-remove-round (gameChanged)="getScoreBoard()"></app-remove-round>
      <button class="button" aria-haspopup="true" (click)="modalService.open('removeRound')">
        <span><i class="fa fa-lg fa-remove" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="box">
      <article class="message is-info" *ngIf="!scoreBoardService.lastRound">
        <div class="message-header">
          <p>Info</p>
        </div>
        <div class="message-body">
          Trenutna igra še nima nobenega zapisa.
        </div>
      </article>
      <table class="table is-hoverable is-fullwidth" *ngIf="scoreBoardService.lastRound">
        <thead>
        <tr>
          <th>#</th>
          <th>Tip</th>
          <th *ngFor="let player of gameService.getOrderedPlayers()">{{player.name}}</th>
        </tr>
        <tr>
          <th>R</th>
          <th></th>
          <th *ngFor="let lastRoundResult of scoreBoardService.lastRound.roundResults" class="has-text-info">
      <span *ngFor="let radelc of lastRoundResult.radelci">

        <i class="fa fa-xs fa-circle-thin" aria-hidden="true" *ngIf="!radelc"></i>
      </span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let round of scoreBoardService.roundList" [class.has-text-info]="round.isLast"
            [class.has-text-weight-bold]="round.isLast">
          <td>{{round.roundNumber}}</td>
          <td *ngIf="!round.isKlop">{{round.getGameType()}}</td>
          <td *ngIf="round.isKlop">Klop</td>
          <td *ngFor="let result of round.roundResults">{{result.playerScore}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="loader-container--full" [class.hide]="!loading">
  <div class="loader"></div>
</div>

<ng2-toasty></ng2-toasty>
