<div class="modal i is-radiusless" [class.is-active]="modalService.endGame">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Nova igra</p>
      <button class="delete" aria-label="close" (click)="modalService.close('endGame')"></button>
    </header>
    <section class="modal-card-body">
      Ali res želiš zaključiti igro?
    </section>
    <footer class="modal-card-foot">
      <button class="button is-info is-radiusless" (click)="endGame()"><i class="fa fa-check" aria-hidden="true"></i></button>
      <button class="button is-radiusless" (click)="modalService.close('endGame')"><i class="fa fa-remove" aria-hidden="true"></i></button>
    </footer>
  </div>
</div>
