<form>
  <div class="box">
    <h2 class="subtitle is-5 has-text-info has-text-centered is-uppercase">Login</h2>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input"
               name="password"
               type="password"
               placeholder="Dostopni ključ">
        <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
      </p>
    </div>

    <div class="field">
      <div class="control is-clearfix">
        <button class="button login-button is-primary is-pulled-right"><i class="fa fa-check"></i></button>
      </div>
    </div>
  </div>
</form>

