<div class="container">
  <form>
    <div class="box">
      <h5 class="title is-5">Login</h5>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input"
                 name="password"
                 type="password"
                 placeholder="Dostopni ključ">
          <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
        </p>
      </div>

      <div class="field">
        <div class="control is-clearfix">
          <button class="button login-button is-primary is-pulled-right"> <i class="fa fa-check"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>
