.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 3px rgba(10, 10, 10, .15);
}

.navbar-brand {
  border-right: 1px solid rgba(white, .1);
}

.navbar-item--static {
  text-transform: uppercase;
}

.navbar-breadcrumb {
  background: $white;
}
