.panel-block--scrollable {
  height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  align-items: flex-start;
}

.panel-block--filters {
  background: #f5f5f5;
}

.box--scroll {
  height: 75vh;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
}

.loader-container {
  max-height: 60vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 10;
}

.loader {
  @include loader01($color: #7C0A02, $border-size: 6px, $size: 32px, $duration: 1s, $align: middle);
}

.button.is-ellipsis {
  display: flex;

  .icon {
    margin-left: 0 !important;
  }

  span {
    &:last-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.panel-tabs {
  .is-active {
    font-weight: 700;
  }
}

