<!-- FULL-VIEW -->

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand"><h1 class="tarocco-title">Tarok</h1>
      <a class="navbar-item" routerLink="/">
        <i class="fa fa-lg fa-heart" aria-hidden="true"><span class="navbar-item-title">Igra</span></i>
      </a>
      <a class="navbar-item" routerLink="">
        <i class="fa fa-lg fa-sticky-note" aria-hidden="true"><span class="navbar-item-title">Nova igra</span></i>
      </a>
      <a class="navbar-item" routerLink="statistics">
        <i class="fa fa-lg fa-bar-chart" aria-hidden="true"><span class="navbar-item-title">Statistika</span></i>
      </a>
      <a class="navbar-item" (click)="dropDownService.toggle('user')">
        <div class="dropdown is-left" [class.is-active]="dropDownService.user">
          <div class="dropdown-trigger">
            <i class="fa fa-lg fa-user" aria-hidden="true"><span class="navbar-item-title">Uporabnik</span></i>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content" *ngIf="!authenticationService.isAuthenticated()">
              <a routerLink="login" class="dropdown-item">
                Login
              </a>
              <a routerLink="register" class="dropdown-item">
                Registracija
              </a>
            </div>
            <div class="dropdown-content" *ngIf="authenticationService.isAuthenticated()">
              <a routerLink="login" class="dropdown-item" (click)="authenticationService.logout()">
                Logout
              </a>
            </div>
          </div>
        </div>
      </a>
  
    </div>
  </nav>


  <!-- RESPONSIVE MENU -->
